body {
    margin: 0;
    background-color: black;
	color: white;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.layout {
	display: flex;
	gap: 2px;
	background-color: white;
	height: 100%;
}

.layout > div {
	text-align: center;
	padding: 5px;
	font-size: 30px;
}

#player-board-container {
	background-color: blue;
	flex: .7 1 auto;
}

#other-board-container {
	background-color: red;
}

#side-panel {
	flex: .3 1 auto;
}

.board {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

/* .board-item {
	max
} */

#selected-card-container {
	background-color: black;
	display: grid;
	place-items: center;
	overflow: hidden;
	max-width: 30%;
}

#selected-card {
	width: 10%;
	aspect-ratio: 496 / 560;
	background-color: rgba(255, 255, 255, 0.5);
}

.card {
	/* aspect-ratio: 496 / 560; */
	border-radius: 2vmin;
	overflow: hidden;
	background-color: aliceblue;
}

.card > img {
	height: 167px;
	width: 187px;
}
